body {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.66;
    font-size: 18px;
    font-family: "Open Sans",sans-serif;
    background-color: #2b283f;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
h1, p {
    text-align: center;
}
a {
    cursor:  pointer;
    color: whitesmoke;
    font-size: 16px;
}
a:active{
    text-decoration: underline;
    font-style: italic
}
div {
    margin: 8px 15px 8px 15px;
}
.comm {
    font-size: 12px;
    font-style: italic
}
.src {
    font-size: 14px;
    font-style: italic
}